<div class="ad-search__block-contact">
  <div class="fr-container fr-pb-3w fr-pb-md-7w fr-pt-3w fr-pt-md-7w">
    <h2>{{ title }}</h2>
    {{ description|class2wysiwygP('fr-text--lead')|raw }}
    <p class="fr-text--lead">{{ pre_contact }} <a href="{{ 'mailto:' ~ email }}">{{ email }}</a></p>
  </div>

</div>
