<div class="ad-search-page fr-container">
  <div class="fr-mb-2w fr-mt-2w">
    <p>{{ movies.total }} résultats pour "{{ filters.search }}" dont {{ movies.totalWithAd }} résultats avec audiodescription</p>

    {% set f = [] %}
    {% for key, filter in filters %}
      {% if key != "search" %}
        {% if filter is not null %}
          {% set f = f|merge({(key): filter}) %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if f|length > 0 %}
      <p>Les filtres appliqués sont : </p>
      <ul>
        {% for key, filter in f %}
          <li>{{ key|capitalize }} : {{ filter|join(', ') }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  {# <div class="fr-mb-7w fr-grid-row">
    <div class="fr-col-12 fr-col-lg-8">
      {{ form }}
    </div>
  </div> #}

  <div class="fr-mb-7w">
    {{ pattern('accordion', {
      title: 'Filtrer les résultats',
      content: filtersForm,
      expanded: filtersExpanded,
    }) }}
  </div>

  <div class="fr-mb-7w" id="liste">
    <h2>{{ movies.total }} films trouvés</h2>
    <p>{{ movies.pageSize }} résultats par page - {{ movies.pagesCount }} pages</p>
    {{ movies.items }}
    {% if movies.pagination is not null %}
      {{ pattern('pagination', {
        first: movies.pagination.first,
        prev: movies.pagination.prev,
        pages: movies.pagination.pages,
        next: movies.pagination.next,
        last: movies.pagination.last,
      }) }}
    {% endif %}
  </div>
</div>

{{ blockContact }}
