<div class="ad-search-page fr-container">
  <div class="fr-mb-2w fr-mt-2w">
    <p>{{ movies.total }} résultats pour "{{ filters.search }}" dont {{ movies.totalWithAd }} résultats avec audiodescription</p>
  </div>

  {# <div class="fr-mb-7w fr-grid-row">
    <div class="fr-col-12 fr-col-lg-8">
      {{ form }}
    </div>
  </div> #}


  <div class="fr-mb-7w">
    {{ pattern('accordion', {
      title: 'Filtrer les résultats',
      content: filtersForm,
      expanded: true,
    }) }}
  </div>

  <div class="fr-mb-7w">
    <h2>{{ movies.total }} films trouvés</h2>
    <p>{{ movies.pageSize }} résultats par page - {{ movies.pagesCount }} pages</p>
    {{ movies.items }}
    {% if movies.pagination is not null %}
      {{ pattern('pagination', {
        first: movies.pagination.first,
        prev: movies.pagination.prev,
        pages: movies.pagination.pages,
        next: movies.pagination.next,
        last: movies.pagination.last,
      }) }}
    {% endif %}
  </div>
</div>
