<div class="ad-search-page fr-container">
  <div class="fr-mb-2w fr-mt-2w">
    <p>{{ movies.total }} résultats correspondent à votre requête, dont {{ movies.totalWithAd }} résultat(s) avec une audiodescription.</p>
  </div>

  <div class="fr-mb-7w">
    {{ form }}
  </div>

  <div class="fr-mb-7w">
    <h2>Films</h2>
    <p>{{ movies.total }} résultats correspondent à votre requête ({{ movies.pageSize }} résultats affichés par page - Page 1 sur {{ movies.pagesCount }})</p>
    {{ movies.items }}
    {% if movies.pagination is not null %}
      {{ pattern('pagination', {
        first: movies.pagination.first,
        prev: movies.pagination.prev,
        pages: movies.pagination.pages,
        next: movies.pagination.next,
        last: movies.pagination.last,
      }) }}
    {% endif %}
  </div>
</div>
