<div class="ad-search-page fr-container">
  <div class="fr-mb-2w fr-mt-2w">
    {% set f = [] %}
    {% for key, filter in filters %}
      {% if key != "search" %}
        {% if filter is not null %}
          {% set f = f|merge({(key): filter}) %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if f|length > 0 %}
      <p>Les filtres appliqués sont : </p>
      <ul>
        {% for key, filter in f %}
          <li>{{ key|capitalize }} : {{ filter|join(', ') }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="fr-mb-7w">
    {{ filtersForm }}
  </div>

  <div class="fr-mb-7w" id="liste">
    {% if filters.search is not empty %}
      <h2>{{ movies.total }} films trouvés pour "{{ filters.search }}"</h2>
    {% else %}
      <h2>{{ movies.total }} films trouvés</h2>
    {% endif %}

    <p>{{ movies.pageSize }} résultats par page - {{ movies.pagesCount }} pages</p>
    {{ movies.items }}
    {% if movies.pagination is not null %}
      {{ pattern('pagination', {
        first: movies.pagination.first,
        prev: movies.pagination.prev,
        pages: movies.pagination.pages,
        next: movies.pagination.next,
        last: movies.pagination.last,
      }) }}
    {% endif %}
  </div>
</div>

{{ blockContact }}
