<article{{ attributes }}>

  <div{{ content_attributes }}>
    <div class="block--is-blue">
      <div class="fr-container fr-pt-6w fr-pb-6w">

       {% if (node.field_text.value is empty) and (summary is not empty) %}
         <h1>{{ node.title.value }}</h1>
       {% else %}
         <h1 class="mb-0">{{ node.title.value }}</h1>
       {% endif %}

        {% if node.field_text.value is not empty %}
          <div class="wysiwyg">
            {{ node.field_text.value|raw }}
          </div>
        {% endif %}

        {% if summary is not empty %}
          <nav class="fr-summary" role="navigation" aria-labelledby="fr-summary-title">
            <h2 class="fr-summary__title" id="fr-summary-title">Sommaire de page</h2>
            <ol>
              {% for item in summary %}
                <li>
                  <a class="fr-summary__link" id="summary-link-1" href="#{{ item.anchor}}">{{ item.text|remove_prefix_number }}</a>
                </li>
              {% endfor %}
            </ol>
          </nav>
        {% endif %}
      </div>
    </div>
    {{ content }}
  </div>
</article>
