{% set directors = node.field_directors.entity %}

{% set has_ad = node.field_has_ad.value %}
{% set has_ad_label = 'Audiodescription introuvable' %}

{% if has_ad %}
  {% set has_ad_label = 'Audiodescription disponible' %}
{% endif %}

{% set title = node.title.value %}

<div>
  {% set synopsis = node.field_synopsis.value|render|striptags %}

  {% set poster = file_url(node.field_poster.entity.field_media_image.entity.uri.value) %}
  {% set poster = node.field_poster_external.value %}

  {% set sentence = [] %}
  {% set directors = [] %}
  {% for director in node.field_directors %}
    {% set directors = directors|merge([director.entity.name.value]) %}
  {% endfor %}

  {% if directors is not empty %}
    {% set sentence = sentence|merge(['de <strong>' ~ directors|join(', ') ~ '</strong>']) %}
  {% endif %}

  {% if node.field_production_year.value is not empty %}
    {% set sentence = sentence|merge(['sorti en <strong>' ~ node.field_production_year.value ~ '</strong>']) %}
  {% endif %}

    <div class="fr-card fr-enlarge-link fr-card--horizontal ad-movie-card">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="{{ url }}">{{ title }}</a>
          </h3>
          {% for s in sentence %}
            <p class="fr-card__desc">{{ s|raw }}</p>
          {% endfor %}
          {% if node.field_genres|length > 1 %}
            <ul class="fr-card__tags fr-tags-group fr-mt-3v">
              {% for genre in node.field_genres|slice(0, 3) %}
                {% set term = genre.entity %}
                {% set term_path = path('entity.taxonomy_term.canonical', {'taxonomy_term': term.id()}) %}

                <li>
                  {{ pattern('tag', {
                    label: term.name.value
                  }) }}
                </li>
              {% endfor %}

            </ul>
          {% elseif node.field_genres|length == 1%}
            <div class="fr-card__tags fr-tags-group fr-mb-3v">
              {% for genre in node.field_genres %}
                {% set term = genre.entity %}
                {{ pattern('tag', {
                  label: term.name.value
                }) }}
              {% endfor %}
            </div>
          {% endif %}

          {% if partner.name is not empty %}
            <p class="ad-movie-card__platform">
              Disponible sur
              {% if partner.pronunciation is not null %}
                <span aria-label="{{ partner.pronunciation }}">
                  {{ partner.name }}
                </span>
              {% else %}
                {{ partner.name }}
              {% endif %}

              {% if partner.end_date is not null %}
                jusqu'au {{ partner.end_date }}
              {% endif %}
            </p>
          {% endif %}
        </div>
      </div>
      {% if poster is not empty %}
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{{ poster }}" alt="" />
        </div>
      </div>
      {% endif %}
    </div>

</div>
