<article{{ attributes }}>
  <div{{ content_attributes }}>
    <div class="fr-container">
      <div class="fr-mb-3w fr-mb-md-7w">

        {% set poster_uri = node.field_poster.entity.field_media_image.entity.uri.value %}

        {% if poster_uri is not empty %}
          {% set imagestyle = {
            '#theme':      'image_style',
            '#style_name': 'poster',
            '#uri':        poster_uri,
          } %}

          <div class="fr-mb-4w">
            {{ imagestyle }}
          </div>
        {% endif %}

        <h1>{{ label }}</h1>
        <h2>{{ config.block_infos.title }}</h2>

        {% if node.field_directors|length > 0 %}
          {% set directors = [] %}
          {% for director in node.field_directors %}
            {% set entity = director.entity %}
            {% set directors = directors|merge([entity.name.value]) %}
          {% endfor %}

          <p class="ad-movies-infos-title">
            <strong>Réalisation : </strong> {{ directors|join(', ') }}
          </p>
        {% endif %}

        {% if (node.field_genres|length > 0) %}
          <p class="ad-movies-infos-title">
            <strong>Genres</strong>
          </p>
          {% for genre in node.field_genres %}
            {% set term = genre.entity %}
            {% set term_path = path('entity.taxonomy_term.canonical', {'taxonomy_term': term.id()}) %}

            {{ pattern('tag', {
              label: term.name.value,
              url: term_path,
              color_schema: 'blue-ecume'
            }) }}
          {% endfor %}
        {% endif %}

        {% set synopsis_plain_text = node.field_synopsis.value|render|striptags %}

        {% if synopsis_plain_text is not empty %}
          <p class="ad-movies-infos-title">
            <strong>Synopsis</strong>
          </p>
          {{ node.field_synopsis.value|raw }}
        {% endif %}

      </div>

      <div class="fr-mb-3w fr-mb-md-7w">
        <h2>{{ config.block_ad.title }}</h2>
        <p>
          {% if node.field_has_ad.value %}
            Film audiodécrit
          {% else %}
            Film non audiodécrit
          {% endif %}
        </p>
      </div>

      {% set block_watch = node.field_watch_movie.entity %}
      <div class="ad-watch-movie-block fr-mb-3w fr-mb-md-7w">
        <h2>{{ block_watch.field_pg_title.value }}</h2>
        <ul class="ad-watch-movie-block__list">
         {% for pg in block_watch.field_pg_plateforms_types %}
           {% set plateform_type = pg.entity %}
           <li>
             <h3>{{ plateform_type.field_pg_title.value }}</h3>
             <ul class="ad-watch-movie-block__list-platforms">
               {% for entity in plateform_type.field_pg_plateforms %}
                 {% set plateform = entity.entity %}
                 {% set media = plateform.field_pg_image.get(0).entity %}
                 {% set file_url = file_url(media.field_media_image.get(0).entity.uri.value) %}

                 <li class="ad-watch-movie-block__platform">
                   {{ pattern('card', {
                     horizontal_ratio: 'tier',
                     enlarge_link: true,
                     title_tag: 'h4',
                     title: {
                       '#type': 'html_tag',
                       '#tag': 'a',
                       '#value': plateform.field_pg_name.value,
                       '#attributes': {
                         'href': plateform.field_pg_link.get(0).getUrl().toString(),
                       }
                     },
                     image: {
                       '#type': 'render',
                       '#theme': 'image',
                       '#uri': file_url,
                     },
                     description: plateform.field_pg_condition.value
                   }, 'horizontal') }}
                 </li>
               {% endfor %}
             </ul>
           </li>
         {% endfor %}
        </ul>
      </div>

    </div>
  </div>
  {{ block_contact }}
</article>
