<article{{ attributes }}>
  <div{{ content_attributes.addClass('block') }}>
    <div class="fr-container fr-pb-3w fr-pb-7w">
      <div class="fr-pt-3w fr-pt-7w">
        <h1>{{ label }}</h1>
      </div>
      <div class="fr-grid-row fr-mb-2w">
        {% set poster_uri = node.field_poster_external.value %}
        {% if poster_uri is not empty %}
          <div class="fr-col-12 fr-col-xl-2 fr-mb-2w">
            <img src="{{ poster_uri }}" alt="" width="165" height="220" loading="lazy"/>
          </div>
        {% endif %}

        {# {% if poster_uri is not empty %}
          {% set imagestyle = {
            '#theme':      'image_style',
            '#style_name': 'poster',
            '#uri':        poster_uri,
          } %}

          <div class="fr-col-12 fr-col-xl-2 fr-mb-2w">
            {{ imagestyle }}
          </div>
        {% endif %} #}

        <div class="fr-col-12 fr-col-xl-10" id="content">
          {% if node.field_production_year.value %}
            <p><strong>Année : </strong>{{ node.field_production_year.value }}</p>
          {% endif %}

          {% if node.field_duration.value %}

            {% set duration_in_minutes = node.field_duration.value %}
            {% set hours = (duration_in_minutes // 60) %}
            {% set minutes = '%02d'|format((duration_in_minutes % 60)) %}

            <p><strong>Durée : </strong>{{ hours ~ ' h' ~ ' ' ~ minutes }}</p>
          {% endif %}

          {% if (node.field_genres|length > 0) %}
            <p class="ad-movies-infos-title">
              <strong>Genres : </strong>
              {% for genre in node.field_genres %}

                {% set term = genre.entity %}
                {#
                {% set term_path = path('entity.taxonomy_term.canonical', {'taxonomy_term': term.id()}) %}
                #}

                {% set term_path = '/recherche?genre[0]=' ~ term.id() %}

                {{ pattern('tag', {
                  label: term.name.value,
                  url: term_path,
                  color_schema: 'blue-ecume'
                }) }}
              {% endfor %}
            </p>
          {% endif %}

          {% if node.field_directors|length > 0 %}
            {% set directors = [] %}
            {% for director in node.field_directors %}
              {% set entity = director.entity %}

              {#
              {% set link = '<a href="' ~ path('entity.taxonomy_term.canonical', {'taxonomy_term': entity.id}) ~ '">' ~ entity.name.value|t ~ '</a>' %}
              {% set directors = directors|merge([link]) %}
              #}

              {% set directors = directors|merge([entity.name.value]) %}
            {% endfor %}

            <p class="ad-movies-infos-title">
              <strong>Réalisation : </strong> {{ directors|join(', ')|raw }}
            </p>
          {% endif %}

          {# @Todo : Casting principal #}
          {# @Todo : Palmarès #}

          {% if node.field_public|length > 0 %}
            <p><strong>Public : </strong>{{ node.field_public.entity.name.value }}</p>
          {% endif %}
        </div>

        <div class="fr-grid-row">
          <div class="fr-col-12 fr-col-lg-8">
            {% set synopsis_plain_text = node.field_synopsis.value|render|striptags %}

            {% if synopsis_plain_text is not empty %}
              <p class="ad-movies-infos-title">
                <strong>Synopsis : </strong>
              </p>
              {{ node.field_synopsis.value|raw }}
            {% endif %}
          </div>
        </div>

      </div>

      {% if node.field_has_ad.value %}
        <div>
          <h2>{{ config.block_ad.title }}</h2>
          <div class="ad-movie-info-ad">
            {% set logo = '/themes/ad_theme/images/ad_icon.png' %}
            <img src="{{ logo }}" alt=""/>

            <p>Film audiodécrit en Français</p>
          </div>
          {% for collection in collections %}
            <div class="ad-movie-info-ad">
              {% set icon = file_url(collection.icon) %}
              {% if collection.icon is null %}
                {% set icon = '/themes/ad_theme/images/star_icon.png' %}
              {% endif %}
              <img src="{{ icon }}" alt=""/>

              <p>{{ collection.label }}</p>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

  {% if  block_platforms.offers|length > 0 %}
  <div class="block ad-movie-offers">
    <div class="fr-container fr-mb-3w fr-mb-md-7w fr-mt-3w fr-mt-md-7w">
      <h2>{{ block_platforms.title }}</h2>
      {% for item in block_platforms.offers %}
      <h3 class="fr-mt-2w">{{ item.offer.field_pg_offer.entity.name.value }}</h3>


      <ul class="ad-partner-card__container">
        {% for partner in item.partners %}
          {% set condition = partner.field_pg_override_condition.value %}
          {% if condition is empty %}
            {% set condition = partner.field_pg_partner.entity.field_taxo_condition.value %}
          {% endif %}
          {% set logo = partner.field_pg_partner.entity.field_taxo_logo.entity.field_media_image.entity.uri.value %}
          {% set title = partner.field_pg_partner.entity.name.value %}
          {% set pronunciation = partner.field_pg_partner.entity.field_taxo_pronunciation.value %}

          <li class="fr-grid-row ad-partner-card fr-enlarge-link">
            {% if logo is not empty %}
              <div class="fr-col-12 fr-col-sm-3 fr-col-md-4 fr-col-xl-3">
                <img src="{{ file_url(logo) }}" alt=""/>
              </div>
              <div class="fr-col-12 fr-col-sm-9 fr-col-md-8 fr-col-xl-8 ad-partner-card__content">
            {% else %}
              <div class="fr-col-12 ad-partner-card__content">
            {% endif %}
                <div>
                  <p class="fr-text--lg ad-partner-card__title">
                    {% if pronunciation is not empty %}
                      <span aria-label="{{ pronunciation }}">
                        <a
                                    href="{{ partner.field_pg_link.uri }}"
                                    target="_blank"
                                    title="{{ partner.field_pg_partner.entity.field_taxo_label_button.value ~ ' ' ~ title }}"
                        >
                                    {{ title }}
                        </a>
                      </span>
                    {% else %}
                      <a
                            href="{{ partner.field_pg_link.uri }}"
                            target="_blank"
                            title="{{ partner.field_pg_partner.entity.field_taxo_label_button.value ~ ' ' ~ title }}"
                      >
                        {{ title }}
                      </a>
                    {% endif %}
                  </p>
                  {% if condition is not empty %}
                    <div class="ad-partner-card__condition">
                      {{ condition|raw }}
                    </div>
                  {% endif %}

                  {% if partner.field_pg_end_rights is not empty %}
                    <div class="ad-partner-card__availability">
                      <p>Disponible jusqu'au {{ partner.field_pg_end_rights.value|date('d/m/Y') }}</p>
                    </div>
                  {% endif %}
                </div>
              </div>
            </li>
          {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>
    {% else %}
      <div class="block ad-movie-offers">
        <div class="fr-container fr-mb-3w fr-mb-md-7w fr-mt-3w fr-mt-md-7w">
          <h2>{{ block_platforms.title }}</h2>
          {{ block_platforms.no_result|class2wysiwygP('fr-text--lead')|raw }}
        </div>
      </div>
    {% endif %}
</article>
