<div class="ad-homepage">
  <div class="block">
    <div class="fr-container">
      <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-pt-3w fr-pt-md-7w fr-pb-3w" id="search" tabindex="-1">
            <h1>{{ header.title }}</h1>
            {{ header.chapo|class2wysiwygP('fr-text--lead')|raw }}

            {% if header.has_search_bar %}
              {{ search_form }}
            {% endif %}
          </div>
        </div>
        <div class="fr-col-lg-6 fr-hidden fr-unhidden-lg">
          <img src="{{ file_url(header.image) }}" alt="" />
        </div>
      </div>
    </div>
  </div>

  {% if new_free_movies is not empty %}
    {{ new_free_movies }}
  {% endif %}

  {% if near_end_free_movies is not empty %}
    {{ near_end_free_movies }}
  {% endif %}

  <div class="block">
    <div class="fr-container">
      <div class="fr-grid-row">
        <div class="fr-col-12">
          <div class="fr-pt-3w fr-pt-md-7w fr-pb-3w fr-pb-md-7w">
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-12 fr-col-lg-10">
                <h2>{{ newsletter.title }}</h2>
                {{ newsletter.description|class2wysiwygP('fr-text--lead')|raw }}
                {% set button = pattern('button', {
                  label: newsletter.cta.text,
                  url: newsletter.cta.url,
                  target: newsletter.cta.target,
                  external: newsletter.cta.external
                }, newsletter.cta.style) %}
                {{ button }}
              </div>
              <div class="fr-col-12 fr-col-lg-2">
                <img src="{{ file_url(newsletter.icon) }}" alt="" class="ad-homepage__icon"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block ad-homepage__infos">
    <div class="fr-container">
      <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-lg-6 ad-homepage__infos-content">
          <div class="fr-pt-3w fr-pt-md-7w fr-pb-3w fr-pb-md-7w">
            <h2>{{ infos.title }}</h2>
            {{ infos.description|class2wysiwygP('fr-text--lead')|raw }}

            {% set buttons = [] %}

            {% for cta in infos.ctas %}
              {% set button = pattern('button', {
                label: cta.text,
                url: cta.url,
                target: cta.target,
                external: cta.external
              }, cta.style) %}

              {% set buttons = buttons | merge([button]) %}
            {% endfor %}

            <div class="fr-grid-row">
              <div>
                {{ pattern('button_group', {
                  buttons: buttons,
                }, 'default') }}
              </div>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-6 ad-homepage__infos-image">
          <img src="{{ file_url(infos.image) }}" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="block ad-homepage__contact">
    <div class="fr-container fr-pt-3w fr-pt-md-7w fr-pb-3w fr-pb-md-7w">
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-2">
          <img src="{{ file_url(about.icon) }}" alt="" class="ad-homepage__icon"/>
        </div>
        <div class="fr-col-12 fr-col-lg-10">
          <h2>{{ about.title }}</h2>
          {{ about.description|class2wysiwygP('fr-text--lead')|raw }}

          <p class="fr-text--lead">{{ about.pre_contact }}</p>
          <a href="{{ 'mailto:' ~ about.email }}" class="fr-btn">{{ about.button_text }}</a>
          <p class="fr-mt-3w fr-text--sm">{{ about.subbutton_text }}</p>
        </div>
      </div>

    </div>
  </div>
</div>
